<!DOCTYPE html>
<html>

<head>
  <!-- viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <!-- css reset -->
  <link rel=“stylesheet” href="./styles/reset.css">
  <!-- materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Khula|Spectral" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- css formatting -->
  <link href="./styles/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="./img/favicon.ico" type="image/x-icon">
</head>

<body>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container center-align">
            <img src="./img/GhostedBanner.png" alt="">

      <h4><b>Helping job seekers research companies <b></h4>
        <h4><b>Helping companies manage their reputation</b></h4>
      <h5>Report violators. Research trending companies. Become more productive in your job search.</h5>
      <br>
    </div>
  </div>
  {{{body}}}
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="./js/index.js"></script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbyk8K108Ko9KQlMx7jtjPmga2wn0IpJs&libraries=places&callback=initAutocomplete"
  async defer></script>
</body>

</html>
