body {
  background-color: #ffffff;
}

.footer-bg-color {
  background-color: grey;
  text-align: center;
  padding: 15px;
}

.card-action{
  background-color:#21897E;
   transition: ease-in-out, width .35s ease-in-out;
}
#index-banner{
  margin-bottom: 8%;
  margin-top: 1%;

}

#trending-report {
  background-color: lightgrey;
  margin-left: auto;
  margin-right: auto;

}
input{
  background-color:#21897E;
   transition: ease-in-out, width .35s ease-in-out;
}

input:hover{
  background-color:#21897E;
   transition: ease-in-out, width .35s ease-in-out;
}



th, td {
  color: black;
  padding: 8px;
}

th {
  color: blue;
  font-size: 1.5rem;
}



h5{
font-family: 'Spectral', serif;
}


h2,footer{
  font-family: 'Khula', sans-serif;
}
